/* ====================================== RESET ======================================= */
/* ==================================================================================== */
* {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;

    font-family: sans-serif;

    color: var(--color-text0_90);
    /*background-color: rgba(0, 0, 0, 0.25);*/
}
/* ==================================== VARIABLES ===================================== */
/* ==================================================================================== */
:root{
   --color-background1: rgb(8, 42, 74);
   --color-background1_75: rgba(8, 42, 74,0.75);
   --color-background2: rgb(37, 96, 125);
   --color-background2_75: rgba(37, 96, 125,0.75);
   --color-text0_90: rgba(255, 255, 255,0.9);
   --color-text1: rgb(254, 241, 206);
   --color-text2: rgb(240, 145, 51);
   --color-text3: rgb(214, 72, 46);
   --color-text3_50: rgba(214, 72, 46,0.5);
   --color-shadow: rgba(0, 0, 0, 0.5);
   --color-test: rgba(0, 0, 0, 0.25);
}
/* ===================================== ELEMENTS ===================================== */
/* ==================================================================================== */
html{
    display: flex;
    justify-content: center;
    background-color: var(--color-background1);
    overflow-x: hidden;
}
header{}
nav{}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    /*opacity: 0;*/
}
h1{}
h2{}
h3{ font-weight: bold; }
p{
    text-align: justify;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: var(--color-text2);
}
img{
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
table{
    /*background-color: red;*/
}
button{
    outline: none;
    border: none;
}
footer{
    display: flex;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    background-color: var(--color-background2);
    box-shadow: 0 1vmin 5vmin var(--color-shadow);
}
/* ===================================== CLASSES ====================================== */
/* ==================================================================================== */

/* -------------------------------------- menu ---------------------------------------- */
/* ------------------------------------------------------------------------------------ */

/*.................................... subsection 1 ....................................*/
.spacerMenu{
    display: flex;
    position: relative;
    width: 100%;
    z-index: 2;
    background-color: var(--color-background2);
    box-shadow: 0 1vmin 5vmin var(--color-shadow);
}
.containerMenu{
    position:fixed;
    display: flex;
    z-index:100;
}
.buttonMenu{
    position: absolute;
    border-radius: 50vmin;
    box-shadow: 0 1vmin 2vmin var(--color-shadow);

    transition: box-shadow 0.25s ease;
}
/* ------------------------------------- content -------------------------------------- */
/* ------------------------------------------------------------------------------------ */
.containerContent{
    width: 100%;
    height: 100%;
    /*background-color: red;*/
}
.horContainer{
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    width: 100vw;
    height: 40vh;
    /*padding: 2.5vh 0 2.5vh 0;*/
}
.horContainer1{
    z-index: 1;
    background-color: transparent;
}
.horContainer2{
    z-index: 2;
    background-color: var(--color-background2);
    box-shadow: 0 1vmin 5vmin var(--color-shadow);
    /*box-shadow: 0 0vmin 2vmin red;*/
}
/*..................................... screenshots .....................................*/
.screenshotContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    transform-style: preserve-3d;
    backface-visibility: hidden;
    /*background-color: var(--color-test);*/
}
/*....................................... about ........................................*/
.descriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.descriptionSubContainer{
    position: relative;
    display: flex;
}
.descriptionSubContainer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.descriptionSubContainer_content h2{}
.descriptionSubContainer_content p{ backface-visibility: hidden; }
.descriptionSubContainer_tech{
    display: flex;
}
.tech{
    display: flex;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
/* ------------------------------------- footer --------------------------------------- */
/* ------------------------------------------------------------------------------------ */
.containerFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.contactIcons{
    display: flex;
    justify-content: space-around;
}
/* ------------------------------------- extras --------------------------------------- */
/* ------------------------------------------------------------------------------------ */
.hidden{
    visibility: hidden;
}
.removed{
    opacity: 0;
    display: none;
}
.blured{
    filter: blur(1vmin);
}
.grayed{
    filter:  grayscale(100%);
}

/* ======================================= IDs ======================================== */
/* ==================================================================================== */
#root{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#react_menu{
    position: fixed;
    width: 100vw;
    z-index: 10;

    /*background-color: red;*/
}
#react_content{}
#react_footer{}
#buttonMenu_blog{ filter: opacity(50%); }
#buttonMenu_about{ filter: opacity(50%); }

/* ================================== INTERACTIONS ==================================== */
/* ==================================================================================== */

.buttonMenu:active{ box-shadow: none; }

/* =================================== ANIMATIONS ===================================== */
/* ==================================================================================== */

@keyframes fadePage {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.animation__fadePage{
    animation-name: fadePage;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
