/* ====================================== RESET ======================================= */
/* ==================================================================================== */
* {
    padding: 0;
    margin: 0;

    font-family: sans-serif;

    color: rgb(255, 255, 255);
    /*background-color: rgba(0, 0, 0, 0.25);*/
}
/* ==================================== VARIABLES ===================================== */
/* ==================================================================================== */
:root{
   --color-background1: rgb(8, 42, 74);
   --color-background2: rgb(37, 96, 125);
   --color-text1: rgb(254, 241, 206);
   --color-text2: rgb(240, 145, 51);
   --color-text3: rgb(214, 72, 46);
}
/* ===================================== ELEMENTS ===================================== */
/* ==================================================================================== */
html{
    display: flex;
    justify-content: center;
    background-color: var(--color-background1);
}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
h1{}
h2{}
h3{}
p{}
a{
    text-decoration: none;
    font-weight: bold;
}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vmin;
    overflow: hidden;
    padding: 5vmin 0 5vmin 0;

    background-color: var(--color-background2);
    box-shadow: 0 1vmin 5vmin black;

}
/* ===================================== CLASSES ====================================== */
/* ==================================================================================== */
.spacerMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: red;

    height:15vh;
}
.containerMenu{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    height: 15vh;
    z-index: 1;
}
.menu{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100vw;

    visibility: visible;
}
.buttonMenu{
    border: none;
    height: 20vw;
    width: 20vw;
    border-radius: 50vw;
    box-shadow: 0 0 4vw white;
}
.horContainer1{
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    padding: 5vmin 0 5vmin 0;

    background-color: none;
}
.horContainer1 img{
    width: 90%;
}
.horContainer2{
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    padding: 5vmin 0 5vmin 0;

    background-color: var(--color-background2);
    box-shadow: 0 1vmin 5vmin black;
}
.horContainer2 img{
    width: 92%;
}
.screenshotContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.descriptionContainer{
    margin: 0 1vmin 0 1vmin;
}
.hidden{
    display: none;
    visibility: hidden;
}
.imgScreenshot:hover{
    filter: blur(4px);
}
/* ------------------------------------ section 1 ------------------------------------- */
/* ------------------------------------------------------------------------------------ */

/*..................................... subclass 1 .....................................*/

/*..................................... subclass 2 .....................................*/

/* ------------------------------------ section 2 ------------------------------------- */
/* ------------------------------------------------------------------------------------ */

/*..................................... subclass 1 .....................................*/

/*..................................... subclass 2 .....................................*/

/* ======================================= IDs ======================================== */
/* ==================================================================================== */

/* =================================== ANIMATIONS ===================================== */
/* ==================================================================================== */
