/* ====================================== RESET ======================================= */
/* ==================================================================================== */
* {
    padding: 0;
    margin: 0;

    font-family: sans-serif;

    color: var(--color-text0_90);
    /*background-color: rgba(0, 0, 0, 0.25);*/
}
/* ==================================== VARIABLES ===================================== */
/* ==================================================================================== */
:root{
   --color-background1: rgb(8, 42, 74);
   --color-background1_25: rgba(8, 42, 74,0.5);
   --color-background2: rgb(37, 96, 125);
   --color-background2_25: rgba(37, 96, 125,0.5);
   --color-text0_90: rgba(255, 255, 255,0.9);
   --color-text1: rgb(254, 241, 206);
   --color-text2: rgb(240, 145, 51);
   --color-text3: rgb(214, 72, 46);
   --color-text3_50: rgba(214, 72, 46,0.5);
   --color-shadow: rgba(0, 0, 0, 0.5);
}
/* ===================================== ELEMENTS ===================================== */
/* ==================================================================================== */
html{
    display: flex;
    justify-content: center;
    background-color: var(--color-background1);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-background2);
    box-shadow: 0 1vmin 5vmin var(--color-shadow);
}
nav{}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    scroll-behavior: smooth;
}
h1{}
h2{}
h3{}
p{
    text-align: justify;
}
a{
    text-decoration: none;
    font-weight: bold;
}
button{
    outline: none;
    border: none;
}
footer{
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: var(--color-background2);
    box-shadow: 0 1vmin 5vmin var(--color-shadow);
}
/* ===================================== CLASSES ====================================== */
/* ==================================================================================== */

/* ------------------------------------ section 1 ------------------------------------- */
/* ------------------------------------------------------------------------------------ */

/*.................................... subsection 1 ....................................*/
.main{
    display: flex;
    justify-content: center;
}
.spacerMenu{}
.containerMenu{
    position:fixed;
    display: flex;
    align-items: center;
    z-index: 10;
}
.buttonMenu{
    position: absolute;
    margin: 0 4vmin 0 4vmin;
    border-radius: 50vmin;
    box-shadow: 0 1vmin 2vmin var(--color-shadow);

    transition: box-shadow 0.25s ease;
}
/*.................................... subsection 2 ....................................*/

/* ------------------------------------ section 2 ------------------------------------- */
/* ------------------------------------------------------------------------------------ */

/*.................................... subsection 1 ....................................*/
.horContainer{
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    height: 40vh;
    padding: 2.5vh 0 2.5vh 0;
}
.horContainer1{
    background-color: none;
}
.horContainer2{
    background-color: var(--color-background2);
    box-shadow: 0 1vmin 5vmin var(--color-shadow);
}
.screenshotContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.descriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*.................................... subsection 2 ....................................*/

/* ------------------------------------ section 3 ------------------------------------- */
/* ------------------------------------------------------------------------------------ */

/*.................................... subsection 1 ....................................*/
.hidden{
    visibility: hidden;
}
.removed{
    display: none;
}
/*.................................... subsection 2 ....................................*/

/* ======================================= IDs ======================================== */
/* ==================================================================================== */

/* ================================== INTERACTIONS ==================================== */
/* ==================================================================================== */

.buttonMenu:active{ box-shadow: none; }

/* =================================== ANIMATIONS ===================================== */
/* ==================================================================================== */
