@media (max-aspect-ratio: 1/1) {

    /* ===================================== ELEMENTS ===================================== */
    /* ==================================================================================== */
    html{}
    header{
        height:30vmin;
    }
    nav{}
    body{}
    h1{}
    h2{ font-size: 5vw; }
    h3{
        font-size: 3vw;
        margin: 1vw 0 1vw 0;
    }
    p{ font-size: 4vw; }
    a{}
    button{}
    footer{}
    /* ===================================== CLASSES ====================================== */
    /* ==================================================================================== */

    /* ------------------------------------ section 1 ------------------------------------- */
    /* ------------------------------------------------------------------------------------ */

    /*.................................... subsection 1 ....................................*/

    .containerMenu{
        align-items: center;
        width: 100%;
        height: 30vw;
    }
    .buttonMenu{
        top: 0;
    }
    /* ------------------------------------ section 2 ------------------------------------- */
    /* ------------------------------------------------------------------------------------ */
    .horContainer{
        justify-content: center;
    }
    /*.................................... subsection 1 ....................................*/
    .screenshotContainer{
        height: 100%;
        align-items: center;
        /*background-color: green;*/
    }
    .horContainer1 > .screenshotContainer{
        width: 85vw;
        height: 32vh;
    }
    .horContainer2 > .screenshotContainer{
        width: 90vw;
        height: 34vh;
    }
    .horContainer1 .imgScreenshot{
        /*width: 85vw;*/
        height: 32vh;
    }
    .horContainer2 .imgScreenshot{
        /*width: 90vw;*/
        height: 34vh;
    }
    /*.................................... subsection 2 ....................................*/
    .descriptionContainer{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        opacity: 0;
    }
    .horContainer1 > .descriptionContainer{
        background-color: var(--color-background1_75);
    }
    .horContainer2 > .descriptionContainer{
        background-color: var(--color-background2_75);
    }
    .descriptionSubContainer{
        width: 100%;
        height: 100%;
    }
    .descriptionSubContainer_title{
        justify-content: center;
        align-items: flex-start;
        padding: 2%;
    }
    .descriptionSubContainer_content{
        flex-direction: column;
        flex: 1;
        padding: 0 6% 4% 6%;
    }
    .descriptionSubContainer_content_about{
        flex: 1;
    }
    .descriptionSubContainer_content_tech{
        align-self: flex-end;
    }
    .aboutLong{
        display: none;
    }
    .techNames{
        display: none;
    }
    .techLogos{
        justify-content: flex-end;
        padding: 1vw 0 1vw 1vw;
        /*flex: 1;*/
    }
    .techLogos > img{
        height: 6vw;
        margin: 0 1vw 0 1vw;
    }
    /*.................................... subsection 1 ....................................*/
    .frontScreen{
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100vw;
        height: 40vh;
        left: 0;
        z-index: 1;

        /*background-color: red;*/
        opacity: 0;
    }
    .frontScreen > a{
        font-size: 4vw;
        padding: 1vw;
    }
    /* ------------------------------------- footer --------------------------------------- */
    /* ------------------------------------------------------------------------------------ */
    .containerFooter{
        height: 16vh;
        align-items: center;
    }
    .contactIcons{
        width: 80%;
        padding: 0 10% 0 10%;
    }
    .contactIcons img{
        height: 5vh;
    }
    /* ======================================= IDs ======================================== */
    /* ==================================================================================== */

    #root{
        flex-direction: column;
    }

    /* =================================== ANIMATIONS ===================================== */
    /* ==================================================================================== */

    /* --------------------------------------- menu --------------------------------------- */
    /* ------------------------------------------------------------------------------------ */

    @keyframes shrink_buttonMenu {
        0%{
            width: 20vmin;
            height: 20vmin;
            margin: 5vw 2.5vmin 5vw 2.5vmin;
        }
        25%{
            width: 20vmin;
            height: 20vmin;
            margin: 5vw 2.5vmin 5vw 2.5vmin;
        }
        50%{
            width: 16vmin;
            height: 16vmin;
            margin: 7vw 4.5vmin 7vw 4.5vmin;
            box-shadow: none;
        }
        75%{
            width: 16vmin;
            height: 16vmin;
            margin: 7vw 4.5vmin 7vw 4.5vmin;
            box-shadow: none;
        }
        100%{
            width: 16vmin;
            height: 16vmin;
            margin: 7vw 4.5vmin 7vw 4.5vmin;
            box-shadow: none;
        }
    }
    @keyframes unshrink_buttonMenu {
        0%{
            width: 16vmin;
            height: 16vmin;
            margin: 7vw 4.5vmin 7vw 4.5vmin;
            box-shadow: none;
        }
        25%{
            width: 16vmin;
            height: 16vmin;
            margin: 7vw 4.5vmin 7vw 4.5vmin;
            box-shadow: none;
        }
        50%{
            width: 16vmin;
            height: 16vmin;
            margin: 7vw 4.5vmin 7vw 4.5vmin;
            box-shadow: none;
        }
        75%{
            width: 20vmin;
            height: 20vmin;
            margin: 5vw 2.5vmin 5vw 2.5vmin;
        }
        100%{
            width: 20vmin;
            height: 20vmin;
            margin: 5vw 2.5vmin 5vw 2.5vmin;
        }
    }
    @keyframes hide_buttonMenu_stack {
        0%{
            left: 35vmin;
            width: 16vmin;
            height: 16vmin;
            margin: 7vw;
            opacity: 1;
        }
        25%{
            left: 35vmin;
            width: 20vmin;
            height: 20vmin;
            margin: 5vw;
            opacity: 1;
        }
        75%{
            left: 35vmin;
            width: 20vmin;
            height: 20vmin;
            margin: 5vw;
            opacity: 1;
        }
        100%{
            left: 35vmin;
            width: 0;
            height: 0;
            margin: 15vw;
            opacity: 0;
        }
    }
    @keyframes show_buttonMenu_stack {
        0%{
            left: 35vmin;
            width: 0;
            height: 0;
            margin: 15vw;
            opacity: 0;
        }
        25%{
            left: 35vmin;
            width: 20vmin;
            height: 20vmin;
            margin: 5vw;
            opacity: 1;
        }
        75%{
            left: 35vmin;
            width: 20vmin;
            height: 20vmin;
            margin: 5vw;
            opacity: 1;
        }
        100%{
            left: 35vmin;
            width: 16vmin;
            height: 16vmin;
            margin: 7vw;
            opacity: 0.5;
        }
    }
    @keyframes hide_buttonMenu_projects {
        0%{
            left: 0;
            opacity: 1;
        }
        25%{
            left: 0;
            opacity: 1;
        }
        50%{
            left: 0;
            opacity: 1;
        }
        75%{
            left: 37.5vmin;
            opacity: 0;
        }
        100%{
            left: 37.5vmin;
            opacity: 0;
        }
    }
    @keyframes show_buttonMenu_projects {
        0%{
            left: 37.5vmin;
            opacity: 0;
        }
        25%{
            left: 37.5vmin;
            opacity: 0;
        }
        50%{
            left: 0;
            opacity: 1;
        }
        75%{
            left: 0;
            opacity: 1;
        }
        100%{
            left: 0;
            opacity: 1;
        }
    }
    @keyframes hide_buttonMenu_blog {
        0%{
            left: 25vmin;
            opacity: 1;
        }
        25%{
            left: 25vmin;
            opacity: 1;
        }
        50%{
            left: 25vmin;
            opacity: 1;
        }
        75%{
            left: 37.5vmin;
            opacity: 0;
        }
        100%{
            left: 37.5vmin;
            opacity: 0;
        }
    }
    @keyframes show_buttonMenu_blog {
        0%{
            left: 37.5vmin;
            opacity: 0;
        }
        25%{
            left: 37.5vmin;
            opacity: 0;
        }
        50%{
            left: 25vmin;
            opacity: 1;
        }
        75%{
            left: 25vmin;
            opacity: 1;
        }
        100%{
            left: 25vmin;
            opacity: 1;
        }
    }
    @keyframes hide_buttonMenu_about {
        0%{
            left: 50vmin;
            opacity: 1;
        }
        25%{
            left: 50vmin;
            opacity: 1;
        }
        50%{
            left: 50vmin;
            opacity: 1;
        }
        75%{
            left: 37.5vmin;
            opacity: 0;
        }
        100%{
            left: 37.5vmin;
            opacity: 0;
        }
    }
    @keyframes show_buttonMenu_about {
        0%{
            left: 37.5vmin;
            opacity: 0;
        }
        25%{
            left: 37.5vmin;
            opacity: 0;
        }
        50%{
            left: 50vmin;
            opacity: 1;
        }
        75%{
            left: 50vmin;
            opacity: 1;
        }
        100%{
            left: 50vmin;
            opacity: 1;
        }
    }
    @keyframes hide_buttonMenu_connect {
        0%{
            left: 75vmin;
            opacity: 1;
        }
        25%{
            left: 75vmin;
            opacity: 1;
        }
        50%{
            left: 75vmin;
            opacity: 1;
        }
        75%{
            left: 37.5vmin;
            opacity: 0;
        }
        100%{
            left: 37.5vmin;
            opacity: 0;
        }
    }
    @keyframes show_buttonMenu_connect {
        0%{
            left: 37.5vmin;
            opacity: 0;
        }
        25%{
            left: 37.5vmin;
            opacity: 0;
        }
        50%{
            left: 75vmin;
            opacity: 1;
        }
        75%{
            left: 75vmin;
            opacity: 1;
        }
        100%{
            left: 75vmin;
            opacity: 1;
        }
    }

    .animation__hide_buttonMenu_stack{
        animation-name: hide_buttonMenu_stack;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .animation__show_buttonMenu_stack{
        animation-name: show_buttonMenu_stack;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .animation__hide_buttonMenu_projects{
        margin: 5vw 4vmin 5vw 4vmin;
        left: 0;
        animation-name: shrink_buttonMenu, hide_buttonMenu_projects;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0s,0s;
        animation-direction: normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__show_buttonMenu_projects{
        left: 0;
        animation-name: unshrink_buttonMenu, show_buttonMenu_projects;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0s,0s;
        animation-direction:normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__hide_buttonMenu_blog{
        margin: 5vw 4vmin 5vw 4vmin;
        left: 24vmin;
        animation-name: shrink_buttonMenu, hide_buttonMenu_blog;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0s,0s;
        animation-direction: normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__show_buttonMenu_blog{
        left: 0;
        animation-name: unshrink_buttonMenu, show_buttonMenu_blog;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0s,0s;
        animation-direction:normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__hide_buttonMenu_about{
        margin: 5vw 4vmin 5vw 4vmin;
        left: 48vmin;
        animation-name: shrink_buttonMenu, hide_buttonMenu_about;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0s,0s;
        animation-direction: normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__show_buttonMenu_about{
        left: 0;
        animation-name: unshrink_buttonMenu, show_buttonMenu_about;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0s,0s;
        animation-direction:normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__hide_buttonMenu_connect{
        margin: 5vw 4vmin 5vw 4vmin;
        left: 72vmin;
        animation-name: shrink_buttonMenu, hide_buttonMenu_connect;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0s,0s;
        animation-direction: normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__show_buttonMenu_connect{
        left: 0;
        animation-name: unshrink_buttonMenu, show_buttonMenu_connect;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0s,0s;
        animation-direction:normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }

    /* -------------------------------- item description ---------------------------------- */
    /* ------------------------------------------------------------------------------------ */
    @keyframes hide_screenshot {
        0%{
            filter: opacity(1) grayscale(0);
        }
        100%{
            filter: opacity(0.75) grayscale(100%);
        }
    }
    @keyframes show_screenshot {
        0%{
            filter: opacity(0.75) grayscale(100%);
        }
        100%{
            filter: opacity(1) grayscale(0);
        }
    }
    @keyframes hide_description {
        0%{ opacity: 1; }
        100%{ opacity: 0; }
    }
    @keyframes show_description {
        0%{ opacity: 0; }
        100%{ opacity: 1; }
    }

    .animation__hide_description{
        animation-name: hide_description;
        animation-duration: 0.25s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .animation__show_description{
        animation-name: show_description;
        animation-duration: 0.25s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .animation__hide_screenshot{
        animation-name: hide_screenshot;
        animation-duration: 0.25s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .animation__show_screnshot{
        animation-name: show_screnshot;
        animation-duration: 0.25s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

}
