@media (max-aspect-ratio: 1/1) {

    /* ===================================== ELEMENTS ===================================== */
    /* ==================================================================================== */
    html{}
    header{}
    nav{}
    body{}
    h1{}
    h2{}
    h3{}
    p{}
    a{}
    button{}
    footer{
        justify-content: center;
        height: 5vmin;
    }
    /* ===================================== CLASSES ====================================== */
    /* ==================================================================================== */

    /* ------------------------------------ section 1 ------------------------------------- */
    /* ------------------------------------------------------------------------------------ */

    /*.................................... subsection 1 ....................................*/
    .main{
        flex-direction: column;
    }
    .spacerMenu{
        height:30vmin;
    }
    .containerMenu{
        top: 0;
        width: 100%;
        height: 30vmin;
    }

    /* ------------------------------------ section 2 ------------------------------------- */
    /* ------------------------------------------------------------------------------------ */
    .horContainer{
        justify-content: center;
    }
    .horContainer1 > .screenshotContainer{
        width: 95%;
    }
    .horContainer2 > .screenshotContainer{
        width: 100%;
    }
    .descriptionContainer{
        position: absolute;
        width: 90%;
        height: 90%;
        padding: 5% 5% 5% 5%;
        background-color: var(--color-background1_50);
        opacity: 0;
    }
    .frontScreen{
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 90%;
        height: 65%;
        padding: 5% 5% 5% 5%;
        z-index: 1;

        opacity: 0;
    }
    /*.................................... subsection 1 ....................................*/

    /* ======================================= IDs ======================================== */
    /* ==================================================================================== */

    /* =================================== ANIMATIONS ===================================== */
    /* ==================================================================================== */
}
