@media (min-aspect-ratio: 1/1) {

/* ===================================== ELEMENTS ===================================== */
/* ==================================================================================== */
    html{}
    header{}
    nav{}
    body{}
    h1{}
    h2{}
    h3{}
    p{}
    a{}
    button{}
    footer{
        justify-content: flex-end;
        height: 5vmin;
    }
/* ===================================== CLASSES ====================================== */
/* ==================================================================================== */
    .main{
        flex-direction: row;
    }
    .spacerMenu{
        height: 10vmin;
    }
    .containerMenu{
        display: none;
    }

/* ------------------------------------ section 1 ------------------------------------- */
/* ------------------------------------------------------------------------------------ */

/*..................................... subclass 1 .....................................*/

/*..................................... subclass 2 .....................................*/

/* ------------------------------------ section 2 ------------------------------------- */
/* ------------------------------------------------------------------------------------ */

/*..................................... subclass 1 .....................................*/

/*..................................... subclass 2 .....................................*/

/* ======================================= IDs ======================================== */
/* ==================================================================================== */

/* =================================== ANIMATIONS ===================================== */
/* ==================================================================================== */
}
