@media (min-aspect-ratio: 1/1) {

    /* ===================================== ELEMENTS ===================================== */
    /* ==================================================================================== */
    /**{ background-color: rgba(0,0,0,0.25); }*/
    html{}
    header{}
    nav{}
    body{}
    h1{}
    h2{ font-size: 4vh; }
    h3{}
    p{
        font-size: 2vh;
    }
    a{}
    button{}
    footer{}
    /* ===================================== CLASSES ====================================== */
    /* ==================================================================================== */

    /* ------------------------------------ section 1 ------------------------------------- */
    /* ------------------------------------------------------------------------------------ */

    /*.................................... subsection 1 ....................................*/
    .containerMenu{
        flex-direction: column;
        align-items: flex-start;
        border-radius: 0 0 100% 0;
        /*background-color: green;*/
    }
    .containerMenu_hidden{
        width: 0;
        height: 0;
    }
    .containerMenu_shown{
        width: 50vh;
        height: 50vh;
    }
    .buttonMenu_main{
        /*filter: contrast(75%);*/
        filter: saturate(75%) contrast(75%);
        transition: filter 0.1s ease-in;
    }
    .spacerMenu{
        height:20vh;
    }
    /* ------------------------------------ section 2 ------------------------------------- */
    /* ------------------------------------------------------------------------------------ */
    .horContainer{
        justify-content: flex-start;
    }
    .horContainer1{
        flex-direction: row;
    }
    .horContainer2{
        flex-direction: row-reverse;
    }

    .descriptionContainer{
        flex: 1;
        height: 100%;
    }
    .descriptionSubContainer{
        width: 100%;
        height: 100%;
    }
    .horContainer1 .descriptionSubContainer{
        flex-direction: row-reverse;
    }
    .horContainer2 .descriptionSubContainer{
        flex-direction: row;
    }

    .descriptionSubContainer_content{
        padding: 0 3% 4% 3%;
    }
    .descriptionSubContainer_content h2{
        margin: 5%;
    }
    .aboutLong{
        padding: 5%;
        /*align-self: center;*/
    }
    .aboutShort{
        display: none;
    }

    .descriptionSubContainer_tech{
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 3% 4% 3%;
    }
    .tech{
        align-items: center;
        filter: grayscale(100);
        transition: filter 0.1s ease-in-out;
    }
    .techLogo{
        height: 3vh;
        margin: 0.5vh 0 0.5vh 0;
        object-fit: scale-down;

        /*background-color: red;*/
    }
    .techName{
        height: 3vh;

        /*background-color: red;*/
    }
    .horContainer1 .tech{
        flex-direction: row;
    }
    .horContainer2 .tech{
        flex-direction: row-reverse;
    }
    .horContainer1 .techName{
        margin-left: auto;
        padding-left: 2vh;
    }
    .horContainer2 .techName{
        margin-right: auto;
        padding-right: 2vh;
    }
    .screenshotContainer{
        height: 40vh;
        width: 64vh;

        filter: grayscale(1) opacity(0.5);
        transition: filter 0.1s ease-in-out;
    }
    .imgScreenshot{
        /*width: 100%;*/
        height: 41vh;
    }

    .frontScreen{
        display: none;
    }
    /*.................................... subsection 1 ....................................*/

    /* ------------------------------------- footer --------------------------------------- */
    /* ------------------------------------------------------------------------------------ */
    .containerFooter{
        align-items: flex-end;
        height: 16vh;
        width: 98vw;
        padding-right: 2vw;
    }
    .contactIcons{
        width: 30vh;
        justify-content: space-between;
    }
    .contactIcons img{
        height: 5vh;
    }
    /* ======================================= IDs ======================================== */
    /* ==================================================================================== */
    #root{
        flex-direction: column;
    }
    #buttonMenu_stack{
        top: 2.5vh;
        left: 2.5vh;
    }
    /* ================================== INTERACTIONS ==================================== */
    /* ==================================================================================== */
    .screenshotContainer:hover{
        filter: grayscale(0) opacity(1);

        transform-style: preserve-3d;
        backface-visibility: hidden;
    }
    .buttonMenu_main:hover{
        filter: saturate(100%) contrast(100%);
    }
    .tech:hover{
        filter:grayscale(0);
        /*height: 5vh;*/

    }
    /* =================================== ANIMATIONS ===================================== */
    /* ==================================================================================== */

    /* --------------------------------------- menu --------------------------------------- */
    /* ------------------------------------------------------------------------------------ */
    @keyframes hide_buttonMenu_stack {
        0%{
            width: 10vh;
            height: 10vh;
            margin: 2.5vh 2.5vh 2.5vh 2.5vh;
            opacity: 1;
        }
        25%{
            width: 15vh;
            height: 15vh;
            margin: 0 0 0 0;
            opacity: 1;
        }
        75%{
            width: 15vh;
            height: 15vh;
            margin: 0 0 0 0;
            opacity: 1;
        }
        100%{
            width: 10vh;
            height: 10vh;
            margin: 2.5vh 2.5vh 2.5vh 2.5vh;
            opacity: 1;
        }
    }
    @keyframes show_buttonMenu_stack {
        0%{
            width: 10vh;
            height: 10vh;
            margin: 2.5vh 2.5vh 2.5vh 2.5vh;
            opacity: 1;
        }
        25%{
            width: 15vh;
            height: 15vh;
            margin: 0 0 0 0;
            opacity: 1;
        }
        75%{
            width: 15vh;
            height: 15vh;
            margin: 0 0 0 0;
            opacity: 1;
        }
        100%{
            width: 10vh;
            height: 10vh;
            margin: 2.5vh 2.5vh 2.5vh 2.5vh;
            opacity: 0.5;
        }
    }

    @keyframes shrink_buttonMenu {
        0%{
            width: 10vh;
            height: 10vh;
            margin: 2.5vh 2.5vh 2.5vh 2.5vh;
        }
        25%{
            width: 10vh;
            height: 10vh;
            margin: 2.5vh 2.5vh 2.5vh 2.5vh;
        }
        50%{
            width: 5vh;
            height: 5vh;
            margin: 5vh 5vh 5vh 5vh;
            box-shadow: none;
        }
        75%{
            width: 5vh;
            height: 5vh;
            margin: 5vh 5vh 5vh 5vh;
            box-shadow: none;
        }
        100%{
            width: 5vh;
            height: 5vh;
            margin: 5vh 5vh 5vh 5vh;
            box-shadow: none;
        }
    }
    @keyframes expand_buttonMenu {
        0%{
            width: 5vh;
            height: 5vh;
            margin: 5vh 5vh 5vh 5vh;
            box-shadow: none;
        }
        25%{
            width: 5vh;
            height: 5vh;
            margin: 5vh 5vh 5vh 5vh;
            box-shadow: none;
        }
        50%{
            width: 5vh;
            height: 5vh;
            margin: 5vh 5vh 5vh 5vh;
            box-shadow: none;
        }
        75%{
            width: 10vh;
            height: 10vh;
            margin: 2.5vh 2.5vh 2.5vh 2.5vh;
        }
        100%{
            width: 10vh;
            height: 10vh;
            margin: 2.5vh 2.5vh 2.5vh 2.5vh;
        }
    }
    @keyframes hide_buttonMenu_projects {
        0%{
            left: 27.5vh;
            top: 2.5vh;
            opacity: 1;
        }
        25%{
            left: 27.5vh;
            top: 2.5vh;
            opacity: 1;
        }
        50%{
            left: 27.5vh;
            top: 2.5vh;
            opacity: 1;
        }
        75%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
        100%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
    }
    @keyframes show_buttonMenu_projects {
        0%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
        25%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
        50%{
            left: 27.5vh;
            top: 2.5vh;
            opacity: 1;
        }
        75%{
            left: 27.5vh;
            top: 2.5vh;
            opacity: 1;
        }
        100%{
            left: 27.5vh;
            top: 2.5vh;
            opacity: 1;
        }
    }
    @keyframes hide_buttonMenu_blog {
        0%{
            left: 24vh;
            top: 15vh;
            opacity: 1;
        }
        25%{
            left: 24vh;
            top: 15vh;
            opacity: 1;
        }
        50%{
            left: 24vh;
            top: 15vh;
            opacity: 1;
        }
        75%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
        100%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
    }
    @keyframes show_buttonMenu_blog {
        0%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
        25%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
        50%{
            left: 24vh;
            top: 15vh;
            opacity: 1;
        }
        75%{
            left: 24vh;
            top: 15vh;
            opacity: 1;
        }
        100%{
            left: 24vh;
            top: 15vh;
            opacity: 1;
        }
    }
    @keyframes hide_buttonMenu_about {
        0%{
            left: 15vh;
            top: 24vh;
            opacity: 1;
        }
        25%{
            left: 15vh;
            top: 24vh;
            opacity: 1;
        }
        50%{
            left: 15vh;
            top: 24vh;
            opacity: 1;
        }
        75%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
        100%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
    }
    @keyframes show_buttonMenu_about {
        0%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
        25%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
        50%{
            left: 15vh;
            top: 24vh;
            opacity: 1;
        }
        75%{
            left: 15vh;
            top: 24vh;
            opacity: 1;
        }
        100%{
            left: 15vh;
            top: 24vh;
            opacity: 1;
        }
    }
    @keyframes hide_buttonMenu_connect {
        0%{
            left: 2.5vh;
            top: 27.5vh;
            opacity: 1;
        }
        25%{
            left: 2.5vh;
            top: 27.5vh;
            opacity: 1;
        }
        50%{
            left: 2.5vh;
            top: 27.5vh;
            opacity: 1;
        }
        75%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
        100%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
    }
    @keyframes show_buttonMenu_connect {
        0%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
        25%{
            left: 2.5vh;
            top: 2.5vh;
            opacity: 0;
        }
        50%{
            left: 2.5vh;
            top: 27.5vh;
            opacity: 1;
        }
        75%{
            left: 2.5vh;
            top: 27.5vh;
            opacity: 1;
        }
        100%{
            left: 2.5vh;
            top: 27.5vh;
            opacity: 1;
        }
    }

    .animation__hide_buttonMenu_stack{
        animation-name: hide_buttonMenu_stack;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .animation__show_buttonMenu_stack{
        animation-name: show_buttonMenu_stack;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .animation__hide_buttonMenu_projects{
        width: 10vh;
        height: 10vh;
        margin: 2.5vh 2.5vh 2.5vh 2.5vh;
        left: 27.5vh;
        top: 2.5vh;

        animation-name: shrink_buttonMenu, hide_buttonMenu_projects;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0s,0s;
        animation-direction: normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__show_buttonMenu_projects{
        top: 7.5vh;
        left: 7.5vh;
        animation-name: expand_buttonMenu, show_buttonMenu_projects;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0s,0s;
        animation-direction:normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__hide_buttonMenu_blog{
        width: 10vh;
        height: 10vh;
        margin: 2.5vh 2.5vh 2.5vh 2.5vh;
        left: 24vh;
        top: 15vh;

        animation-name: shrink_buttonMenu, hide_buttonMenu_blog;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0.1s,0.1s;
        animation-direction: normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__show_buttonMenu_blog{
        top: 7.5vh;
        left: 7.5vh;
        animation-name: expand_buttonMenu, show_buttonMenu_blog;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0.1s,0.1s;
        animation-direction:normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__hide_buttonMenu_about{
        width: 10vh;
        height: 10vh;
        margin: 2.5vh 2.5vh 2.5vh 2.5vh;
        left: 15vh;
        top: 24vh;

        animation-name: shrink_buttonMenu, hide_buttonMenu_about;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0.2s,0.2s;
        animation-direction: normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__show_buttonMenu_about{
        top: 7.5vh;
        left: 7.5vh;
        animation-name: expand_buttonMenu, show_buttonMenu_about;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0.2s,0.2s;
        animation-direction:normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__hide_buttonMenu_connect{
        width: 10vh;
        height: 10vh;
        margin: 2.5vh 2.5vh 2.5vh 2.5vh;
        left: 2.5vh;
        top: 27.5vh;

        animation-name: shrink_buttonMenu, hide_buttonMenu_connect;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0.3s,0.3s;
        animation-direction: normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }
    .animation__show_buttonMenu_connect{
        top: 7.5vh;
        left: 7.5vh;
        animation-name: expand_buttonMenu, show_buttonMenu_connect;
        animation-duration: 1s,1s;
        animation-timing-function: ease,ease;
        animation-delay: 0.3s,0.3s;
        animation-direction:normal,normal;
        animation-iteration-count: 1,1;
        animation-fill-mode: forwards,forwards;
    }

    /* -------------------------------- item description ---------------------------------- */
    /* ------------------------------------------------------------------------------------ */
    /*@keyframes blur {
        0%{ filter: blur(0); }
        100%{ filter: blur(8px); }
    }
    @keyframes unblur {
        0%{filter: blur(8px);}
        100%{ filter: blur(0); }
    }
    @keyframes fade {
        0%{ opacity: 1; }
        100%{ opacity: 0; }
    }
    @keyframes unfade {
        0%{ opacity: 0; }
        100%{ opacity: 1; }
    }

    .animation_fade{
        animation-name: fade;
        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .animation_unfade{
        animation-name: unfade;
        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;;
    }
    .animation_blur{
        animation-name: blur;
        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .animation_unblur{
        animation-name: unblur;
        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }*/

    /* ================================= MEDIA QUERIES ==================================== */
    /* ==================================================================================== */

    @media (max-width: 128vh){
        .descriptionSubContainer_tech{
            display: none;
        }
    }

}
